<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Disasters</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Disaster Response Project</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://www.udacity.com/">Made with Udacity</a></li>
            <li><a href="https://github.com/netxph">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Disaster Response Project</h1>
        <p class="text-center">Analyzing message data for disaster response</p>
        <hr />

        <div class="row">
          <div class="col-lg-12 form-group-lg">
            <form id="classify-frm">
              <div class="form-group">
                <input
                  id="message-tb"
                  type="text"
                  class="form-control form-control-lg"
                  placeholder="Enter a message to classify"
                  required
                />
              </div>
              <div class="form-check col-lg-offset-5">
                <button id="classify-btn" type="submit" class="btn btn-lg btn-success">
                  Classify Message
                </button>
              </div>
            </form>
          </div>
        </div>

        <div id="message">
          <hr />
          <h4 class="text-center">MESSAGE</h4>
          <p id="message-label" class="text-center"><i>Message goes here</i></p>
        </div>
      </div>
    </div>

    <div class="container">
      <h1 class="text-center">Result</h1>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success text-center">
          water
        </li>
        <li class="list-group-item list-group-item-dark text-center">
          related
        </li>
      </ul>

      <div class="page-header">
        <h1 class="text-center">Overview of Training Dataset</h1>
      </div>

      <div id="fig-categories"></div>
      <div id="fig-words"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
      $(function () {
        $("#message").hide();

        $.get("api/graph/categories", function (data) {
          var data = JSON.parse(data);

          Plotly.plot("fig-categories", data.data, data.layout);
        });

        $.get("api/graph/words", function (data) {
          var data = JSON.parse(data);

          Plotly.plot("fig-words", data.data, data.layout);
        });

        $("#classify-btn").click(function (e) {
          e.preventDefault();

          $("#classify-frm").valid();

          $("#message").show();
          var message = $("#message-tb").val();

          $("#message-label").text(message);
        });
      });
    </script>
  </body>
</html>
