<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
  <title>Disasters</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Disaster Response Project</a>
    </div>
  </nav>
  <div class="col-md-10 p-lg-5 mx-auto my-5">
    <h1 class="display-4 fw-normal">Disaster Response Project</h1>
    <p class="lead fw-normal">Test out the classification model to automatically classify an actual disaster response
      message.</p>
    <br>
    <form>
      <div class="row">
        <input type="text" class="form-control form-control-lg" placeholder="Enter message here">
      </div>
      <div class="row">
        <div class="col text-center">
          <button type="submit" class="btn btn-primary btn-lg m-3">Classify</button>
        </div>
      </div>
    </form>
  </div>
  </div>
  <div class="col-md-10 mx-auto my-5 text-center">
      <hr>
    <div id="message">
      <h4 class="text-center">MESSAGE</h4>
      <p id="message-label" class="text-center"><i>Message goes here</i></p>
    </div>
    <div>
      <span class="badge rounded-pill bg-success">related</span>
      <span class="badge rounded-pill bg-success">request</span>
      <span class="badge rounded-pill bg-success">water</span>
      <span class="badge rounded-pill bg-success">offer</span>
      <span class="badge rounded-pill bg-success">medical help</span>
      <span class="badge rounded-pill bg-light text-dark">flood</span>
      <span class="badge rounded-pill bg-light text-dark">earthquake</span>
      <span class="badge rounded-pill bg-success">products</span>
      <span class="badge rounded-pill bg-light text-dark">military</span>
      <span class="badge rounded-pill bg-light text-dark">earthquake</span>
    </div>
      <hr>
  </div>
  <div class="col-md-10 p-lg-5 mx-auto my-5">
    <h1 class="display-4 fw-normal">Overview of Training Dataset</h1>

    <div id="fig-categories"></div>
    <div id="fig-words"></div>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script type="text/javascript">
    $(function () {
      //$("#message").hide();

      $.get("api/graph/categories", function (data) {
        var data = JSON.parse(data);

        Plotly.plot("fig-categories", data.data, data.layout);
      });

      $.get("api/graph/words", function (data) {
        var data = JSON.parse(data);

        Plotly.plot("fig-words", data.data, data.layout);
      });

      $("#classify-btn").click(function (e) {
        e.preventDefault();

        $("#classify-frm").valid();

        $("#message").show();
        var message = $("#message-tb").val();

        $("#message-label").text(message);
      });
    });
  </script>
</body>

</html>